/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/Documents/NetBeansProjects/FuncionesIO/nbproject/private/
/Documents/NetBeansProjects/FuncionesIO1/nbproject/private/
/Documents/NetBeansProjects/FuncionesIO1/build/
/Documents/NetBeansProjects/RepasoCiclos/nbproject/private/
/Documents/NetBeansProjects/RepasoCiclos/build/
/Documents/NetBeansProjects/Repaso_arreglos/nbproject/private/
/Documents/NetBeansProjects/Repaso_arreglos/build/
/Documents/NetBeansProjects/RepasoMatrices/nbproject/private/
/Documents/NetBeansProjects/RepasoMatrices/build/
/Documents/NetBeansProjects/EstudioYT/nbproject/private/
/Documents/NetBeansProjects/EstudioYT/build/
/Documents/NetBeansProjects/Taller_1/nbproject/private/
/Documents/NetBeansProjects/Taller_1/build/
/Documents/NetBeansProjects/operacionesMatris_repaso/nbproject/private/
/Documents/NetBeansProjects/operacionesMatris_repaso/build/
/Documents/NetBeansProjects/parcial_1/nbproject/private/
/Documents/NetBeansProjects/parcial_1/build/
/Documents/NetBeansProjects/Segundocorte_1/nbproject/private/
/Documents/NetBeansProjects/Segundocorte_1/build/
/Documents/NetBeansProjects/punto/nbproject/private/
/Documents/NetBeansProjects/punto/build/
/Documents/NetBeansProjects/ejemploModificadores/nbproject/private/
/Documents/NetBeansProjects/ejemploextenciones/nbproject/private/
/Documents/NetBeansProjects/ejemploextenciones/build/
/Documents/NetBeansProjects/crearArchivo/nbproject/private/
/Documents/NetBeansProjects/crearArchivo/build/
/Documents/NetBeansProjects/fileDemo/nbproject/private/
/Documents/NetBeansProjects/fileDemo/build/
/Documents/NetBeansProjects/lecturaArchivos/nbproject/private/
/Documents/NetBeansProjects/lecturaArchivos/build/
/Documents/NetBeansProjects/EjemploSistemasclientes/nbproject/private/
/Documents/NetBeansProjects/EjemploSistemasclientes/build/
/Documents/NetBeansProjects/Parcial2/nbproject/private/
/Documents/NetBeansProjects/Parcial2/build/
/Documents/NetBeansProjects/Parcial222/Parcial2/Parcial2/build/
/Documents/NetBeansProjects/Parcial222/Parcial2/Parcial2/nbproject/private/
/Documents/NetBeansProjects/SegundoTaller/SegundoTaller/build/
/Documents/NetBeansProjects/SegundoTaller/SegundoTaller/dist/
/Documents/NetBeansProjects/SegundoTaller/SegundoTaller/nbproject/private/
/Documents/NetBeansProjects/SegundoParcial/Parcial2/build/
/Documents/NetBeansProjects/SegundoParcial/Parcial2/nbproject/private/
/Documents/NetBeansProjects/2parcial/Parcial2/build/
/Documents/NetBeansProjects/2parcial/Parcial2/dist/
/Documents/NetBeansProjects/2parcial/Parcial2/nbproject/private/
/Documents/NetBeansProjects/proyectoIntegradorFisica/nbproject/private/
/Documents/NetBeansProjects/GraficDemo/nbproject/private/
/Documents/NetBeansProjects/GraficDemo/build/
/Documents/NetBeansProjects/humanidades1/nbproject/private/
/Documents/NetBeansProjects/humanidades1/build/
/Documents/NetBeansProjects/Segundocorte_1/JButtonDemo/build/
/Documents/NetBeansProjects/Segundocorte_1/JButtonDemo/nbproject/private/
/Documents/NetBeansProjects/JButtonDemo/build/
/Documents/NetBeansProjects/JButtonDemo/nbproject/private/
/Documents/NetBeansProjects/Taller_3/nbproject/private/
/Documents/NetBeansProjects/Taller_3/build/
/Documents/NetBeansProjects/JTextDemo/JTextDemo/build/
/Documents/NetBeansProjects/JTextDemo/JTextDemo/nbproject/private/
/Documents/NetBeansProjects/SistemaClientes/SistemaClientes/build/
/Documents/NetBeansProjects/SistemaClientes/SistemaClientes/nbproject/private/
/Documents/NetBeansProjects/Taller_3_1/nbproject/private/
/Documents/NetBeansProjects/Taller_3/humanidades1/build/
/Documents/NetBeansProjects/Taller_3/humanidades1/nbproject/private/
/Documents/humanidades1/build/
/Documents/humanidades1/nbproject/private/
/Documents/NetBeansProjects/pruebaSaltolineal/nbproject/private/
/Documents/NetBeansProjects/pruebaSaltolineal/build/
/Downloads/Cuestionario-master/Cuestionario-master/nbproject/private/
/Downloads/PreguntasRepuestas/PreguntasRepuestas/build/
/Downloads/PreguntasRepuestas/PreguntasRepuestas/nbproject/private/
/Documents/NetBeansProjects/pruebahum/nbproject/private/
/Documents/NetBeansProjects/pruebahum/build/
/Downloads/H/H/build/
/Downloads/H/H/nbproject/private/
/Documents/NetBeansProjects/humanidades1/dist/
/Downloads/PreguntasRepuestas/PreguntasRepuestas/dist/
/Downloads/Taller Archivos/Gui_Archivos/Gui_Archivos/build/
/Downloads/Taller Archivos/Gui_Archivos/Gui_Archivos/dist/
/Downloads/Taller Archivos/Gui_Archivos/Gui_Archivos/nbproject/private/
/Downloads/EnviarCorreo/EnviarCorreo/nbproject/private/
/Downloads/EnviarCorreo/EnviarCorreo/build/
/Downloads/JDBC/JDBC/Almacen/Almacen/build/
/Downloads/JDBC/JDBC/Almacen/Almacen/nbproject/private/
/Downloads/TABLAS/CursoJtable/build/
/Downloads/TABLAS/CursoJtable/dist/
/Downloads/TABLAS/CursoJtable/nbproject/private/
/Documents/NetBeansProjects/Taller_3_1/build/
/Documents/NetBeansProjects/metodosOrdenamientos/nbproject/private/
/Documents/NetBeansProjects/metodosOrdenamientos/build/
/Documents/NetBeansProjects/metodoOrdenamiento/nbproject/private/
/Documents/NetBeansProjects/ArrayListPersonSort/ArrayListPersonSort/build/
/Documents/NetBeansProjects/ArrayListPersonSort/ArrayListPersonSort/nbproject/private/
/Documents/NetBeansProjects/ArrayListIntSort (1)/ArrayListIntSort/build/
/Documents/NetBeansProjects/ArrayListIntSort (1)/ArrayListIntSort/nbproject/private/
/Documents/NetBeansProjects/metodoOrdenamiento/build/
/Documents/NetBeansProjects/MeotodoCreadoPropio/nbproject/private/
/Documents/NetBeansProjects/MeotodoCreadoPropio/build/
/Downloads/Ordenamiento_taller (2)/Ordenamiento_taller/build/
/Downloads/Ordenamiento_taller (2)/Ordenamiento_taller/dist/
/Downloads/Ordenamiento_taller (2)/Ordenamiento_taller/nbproject/private/
/Documents/NetBeansProjects/3tallerJavaNew/nbproject/private/
/Documents/NetBeansProjects/Taller_3TercerSemes/nbproject/private/
/Documents/NetBeansProjects/Taller_3TercerSemes/build/
/Documents/NetBeansProjects/proIntegrador3semestre/nbproject/private/
/Documents/NetBeansProjects/proIntegrador3semestre/build/
/Documents/NetBeansProjects/Pilas/nbproject/private/
/Documents/NetBeansProjects/PruebaPilaEnteros/nbproject/private/
/Documents/NetBeansProjects/PruebaPilaEnteros/build/
/Documents/NetBeansProjects/3tallerJavaNew/build/
/Downloads/Estructuras de datos - Pilas en Java (Parte 4)/Estructuras de datos - Pilas en Java (Parte 4)/EjemploPilas/build/
/Downloads/Estructuras de datos - Pilas en Java (Parte 4)/Estructuras de datos - Pilas en Java (Parte 4)/EjemploPilas/nbproject/private/
/Documents/NetBeansProjects/bandejaDeEntrada/nbproject/private/
/Documents/NetBeansProjects/bandejaDeEntrada/build/
/Documents/NetBeansProjects/proyectoTgs/nbproject/private/
/Documents/NetBeansProjects/proyectoTgs/build/
/Documents/NetBeansProjects/Estructuras de datos - Colas en Java (Parte 4)/Estructuras de datos - Colas en Java (Parte 4)/EjemploColas/build/
/Documents/NetBeansProjects/Estructuras de datos - Colas en Java (Parte 4)/Estructuras de datos - Colas en Java (Parte 4)/EjemploColas/nbproject/private/
/Documents/NetBeansProjects/pruebadeColas/nbproject/private/
/Documents/NetBeansProjects/pruebadeColas/build/
/Downloads/EjerColas/EjerColas/build/
/Downloads/EjerColas/EjerColas/dist/
/Downloads/EjerColas/EjerColas/nbproject/private/
/Downloads/proyectest/proyectest/build/
/Downloads/proyectest/proyectest/nbproject/private/
/Downloads/Proyecto_ED/Proyecto_ED/Estructura_Datos/Estructura_Datos/build/
/Downloads/Proyecto_ED/Proyecto_ED/Estructura_Datos/Estructura_Datos/dist/
/Downloads/Proyecto_ED/Proyecto_ED/Estructura_Datos/Estructura_Datos/nbproject/private/
/Downloads/dashboard_nuevo_ver1.2 (3)/dashboard_nuevo_ver1.2 (2)/dashboard_nuevo_ver1.2/build/
/Downloads/dashboard_nuevo_ver1.2 (3)/dashboard_nuevo_ver1.2 (2)/dashboard_nuevo_ver1.2/nbproject/private/
/Downloads/Taller6/Taller6/build/
/Downloads/Taller6/Taller6/nbproject/private/
/Downloads/dashboard_nuevo_ver1.2 (3)/dashboard_nuevo_ver1.2 (2)/dashboard_nuevo_ver1.2/dist/
/Downloads/Taller6 (1)/Taller6/build/
/Downloads/Taller6 (1)/Taller6/nbproject/private/
/Downloads/Estructuras de datos - LCDE en Java/Estructuras de datos - LCDE en Java/EjemploLCDE_Clientes/build/
/Downloads/Estructuras de datos - LCDE en Java/Estructuras de datos - LCDE en Java/EjemploLCDE_Clientes/nbproject/private/
/Documents/NetBeansProjects/pruebachatgpt/nbproject/private/
/Documents/NetBeansProjects/pruebachatgpt/build/
/Documents/NetBeansProjects/asd/nbproject/private/
/Documents/NetBeansProjects/proyectoTgs 2/proyectoTgs/dist/
/Downloads/dashboard_nuevo_ver1.2 (5)/dashboard_nuevo_ver1.2 (3)/dashboard_nuevo_ver1.2 (2)/dashboard_nuevo_ver1.3/build/
/Downloads/dashboard_nuevo_ver1.2 (5)/dashboard_nuevo_ver1.2 (3)/dashboard_nuevo_ver1.2 (2)/dashboard_nuevo_ver1.3/nbproject/private/
